.outer {
    z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999;
    position: fixed;
    /* animation: linear themove 30s alternate infinite; */
    animation: x 13s linear infinite alternate;
    top: 0px;
}

.inner{
    font-size: 100px;
    color: white;
    background: black;
    animation: y 7s linear infinite alternate;
    top: 0px;
}

  
  @keyframes x {
    100% {
      transform: translateX( calc(100vw - 400px) );
    }
  }
  
  @keyframes y {
    100% {
      transform: translateY( calc(100vh - 120px) );
    }
  }

/* @keyframes themove {
    0%   {top: 0%; left: 0%;}
    35%  {top: 50%; left: 74%;}
    45%  {top: 83%; left: 50%;}
    65%  {top: 0%; left: 40%;}
    75%  {top: 15%; left: 0%;}
    85% {top: 83%; left: 40%;}
    100%   {top: 0%; left: 0%;}
  } */