.kkkk{
    font-size: 100px;
}

.kkth {
    z-index: 9999999999999999999999999;
    width: 400px;
    background: red;
    position: relative;
    animation: themove 3s alternate infinite;
}

@keyframes themove {
    from {left: 0px;}
    to {left: 200px;}
  }